name: Release
on:
    push:
        branches:
            - alpha
            - rc
    workflow_dispatch: {}

jobs:
    release:
        name: Release
        strategy:
            fail-fast: true
            matrix:
                node:
                    - 22
        runs-on: ubuntu-latest
        permissions:
            contents: write
            issues: write
            pull-requests: write
            id-token: write # Required for OIDC
        steps:
            - name: Setup repository
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - uses: pnpm/action-setup@v4
              with:
                  version: 10.6.5
            - name: Setup NodeJS ${{ matrix.node }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node }}
                  cache: 'pnpm'
                  cache-dependency-path: '**/pnpm-lock.yaml'
                  registry-url: 'https://registry.npmjs.org'
            - name: Install dependencies
              run: pnpm i --frozen-lockfile
            - name: Build
              run: pnpm build
            - name: Release
              run: pnpm semantic-release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
